# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions
# More info on Python, GitHub Actions, and Azure App Service: https://aka.ms/python-webapps-actions

name: Build and deploy Python app to Azure Web App - jurassicpark

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4  # Actualiza la versión

      - name: Set up Python version
        uses: actions/setup-python@v5  # Actualiza la versión
        with:
          python-version: '3.8'

      - name: Create and start virtual environment
        run: |
          python -m venv venv
          source venv/bin/activate
      
      - name: Install dependencies
        run: pip install -r requirements.txt
        
      # Optional: Add step to run tests here (PyTest, Django test suites, etc.)

      - name: Zip artifact for deployment
        run: zip release.zip ./* -r

      - name: Upload artifact for deployment jobs
        uses: actions/upload-artifact@v4  # Actualiza la versión
        with:
          name: python-app
          path: |
            release.zip
            !venv/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    permissions:
      id-token: write  # Esto es requerido para solicitar el JWT

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4  # Actualiza la versión
        with:
          name: python-app

      - name: Unzip artifact for deployment
        run: unzip release.zip

      - name: Login to Azure
        uses: azure/login@v2  # Actualiza la versión
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_C974511A99CE4DA3B8D4D675FF6B408D }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_222D4034B1CA47E88C448FCB9338EBCE }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_EDD351299FBB485DA704B957F3A3FBF3 }}

      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v3  # Mantén la versión actualizada
        id: deploy-to-webapp
        with:
          app-name: 'jurassicpark'
          slot-name: 'Production'